@keyframes appear {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0) translate(-50%,-50%);
    }
    100% {
        transform: scale(1) translate(-50%,-50%);
    }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes disappear {
    from {opacity: 0;}
    to {opacity: 1;}
}