body {
    height: 100vh;
    max-height: 100vh;
    padding: 0 40px;
    background-color: #191B26;
    color: rgba(255, 255, 255, 0.898);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.game_state {
    /* position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%); */
}

canvas {
    position: fixed;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    pointer-events: none;
}

.game_turn {
    padding: 15px 70px;
    margin: 80px 0;
    border-radius: 10px;
    font-size: 30px;
    transition: all .2s linear;
}

.game_turn.unavalable {
    background-color: #333;
}

.game_turn-bot {
    background-color: #FF0000;
}

.game_turn-player {
    background-color: #007BFF;
}

.game_result {
    /* position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(-50%,-50%); */
}

.game_status {
    font-size: 30px;
    padding: 10px 40px;
    margin-bottom: 40px;
    background-color: #007BFF;
    border-radius: 10px;
    width: 214px;
    text-align: center;
}

.menu_btn {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    margin-bottom: 40px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.menu_btn:hover {
    background-color: #007BFF;
}

.rate_btn {
    /* display: none; */
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    margin-bottom: 40px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.rate_btn:hover {
    background-color: #007BFF;
}

.rate_btn.active:hover {
    background-color: #191B26;
}

.rate_btn.active {
    background-color: #007BFF;
}

.play_again_btn {
    font-size: 20px;
    padding: 10px 40px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.play_again_btn:hover {
    background-color: #007BFF;
}

.board {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4px;
    row-gap: 4px;
    position: relative;
    /* top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%); */
    width: 504px;
    height: 504px;
    background-color: #242527;
}

.grid {
    height: 250px;
    width: 250px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.row2 {
    position: absolute;
    top: -22%;
    left: 49%;
    width: 4px;
    height: 360px;
    transform: rotate(45deg);
    background-color: #242527;
}

.row1 {
    position: absolute;
    top: -22%;
    left: 49%;
    width: 4px;
    height: 360px;
    transform: rotate(135deg);
    background-color: #242527;
}

.row3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #242527;
}

.row4 {
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    transform: translateX(-50%) rotate(90deg);
    background-color: #242527;
}

.box {
    position: absolute;
    width: 40px;
    height: 40px;
    /* z-index: 1000; */
    transform: translate(50%,50%);
    /* cursor: pointer; */
    border-radius: 50%;
}

.box[data-choosable="true"] {
    cursor: pointer;
    background-color: green;
}

.box[data-choosable="false"] {
    cursor: default;
    background-color: none;
}

.box:hover {
    /* background-color: rgba(0, 0, 0, .2); */
}

.chess {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.chess.not_ready {
    cursor: not-allowed;
}

.chess:hover {
    filter: brightness(90%);
}

.fire {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1001;
    animation: fire 1s linear forwards;
}

.rate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 40%;
    background-color: #242527;
    border-radius: 10px;
    padding: 20px;
    z-index: 10000000000;
    user-select: none;
    display: none;
}

.game_display {
    height: 40%;
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 10px;
    position: relative;
}

.img_main {
    height: 100%;
    position: relative;
}

.img_list {
    height: 100%;
    /* padding: 0 10px 0 20px; */
}

.img_item {
    height: 100%;
    display: none;
}

.img_item.default {
    display: block;
}

.info {
    font-size: 28px;
    position: relative;
    margin: 44px 0;
}

.info-arrow {
    margin: 10px 0;
}

.info-move_level {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,0);
    padding: 10px;
    min-width: 120px;
    text-align: center;
    border-radius: 5px;
    background-color: #007BFF;
}

.counter {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #333;
    font-size: 20px;
}

.img_item img {
    height: 100%;
}

.img_item.display_image {
    display: block;
}

.game_display i {
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 100%;
    margin: auto 0;
    transition: 0.08s linear;
    cursor: pointer;
}

.game_display i:hover {
    background-color: rgba(255, 255, 255, .3);
}

.game_rate {
    height: 60%;
    position: relative;
}

.rate_list {
    max-height: 100%;
    margin: 10px 0;
    overflow-y: scroll;
}

.rate_item {
    display: flex;
    height: 36px;
    padding: 6px 0;
    /* justify-content: space-between; */
    user-select: none;
    cursor: pointer;
}

.rate_item:hover {
    background-color: #1a1b1d;
}

.rate_item.sellected {
    background-color: #202124;
}

.overview {
    width: 100%;
    margin-bottom: 10px;
}

.move_count {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}

.excellent_count {
    display: flex;
    font-size: 20px;
}

.excellent_count-title {
    font-weight: bold;
}

.excellent_count-title.excellent {
    color: #26C2A3;
}

.excellent_count-title.good {
    color: #00B400;
    margin: 10px 0;
}

.excellent_count-title.bad {
    color: red;
}

.excellent_count div {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacing {
    width: 90%;
    height: 1px;
    background-color: #007BFF;
    margin: 20px 5%;
}

.rate_item div {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.rate_item-you_img {
    height: 100%;
    margin: 0 10px;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.appear {
    display: block;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #191B26;
    top: 0;
    display: grid;
    place-content: center;
}

.loading {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #000; 
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

.ske_loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #242527;
}

.ske_loading-overview,
.ske_loading-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ske_loading-detail {
    margin-top: 10px;
}

.ske_loading-overview li {
    height: 30px;
    margin: 4px 0;
    border-radius: 6px;
    background-color: rgba(21, 32, 43, 1);
    animation: ske_loading 1s ease-in-out forwards infinite alternate;
}

.ske_loading-detail li {
    height: 24px;
    width: 100%;
    margin: 4px 0;
    border-radius: 6px;
    background-color: rgba(21, 32, 43, 1);
    animation: ske_loading 1s ease-in-out forwards infinite alternate;
}

.ske_loading-overview li:nth-child(1) {
    width: 20%;
}

.ske_loading-overview li:nth-child(2) {
    width: 60%;
}

.ske_loading-overview li:nth-child(3) {
    width: 90%;
}

.ske_loading-overview li:nth-child(4) {
    width: 70%;
}

.ske_loading-detail {
        display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 500px) {
    html {
        height: 100vh;
    }
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .game_turn {
        padding: 15px 70px;
        margin: 80px 0;
        border-radius: 10px;
        font-size: 30px;
        transition: all .2s linear;
        display: none;
    }
    
    .game_turn.unavalable {
        background-color: #333;
    }
    
    .game_turn-bot {
        background-color: #FF0000;
    }
    
    .game_turn-player {
        background-color: #007BFF;
    }
    
    .game_result {
        /* position: absolute;
        top: 50%;
        right: 20%;
        transform: translate(-50%,-50%); */
    }
    
    .game_status {
        font-size: 30px;
        padding: 10px 40px;
        margin-bottom: 40px;
        background-color: #007BFF;
        border-radius: 10px;
        width: 214px;
        text-align: center;
        display: none;
    }
    
    .menu_btn {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        padding: 10px 40px;
        margin-bottom: 40px;
        border: 1px solid #007BFF;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: all .2s linear;
        display: none;
    }
    
    .menu_btn:hover {
        background-color: #007BFF;
    }
    
    .play_again_btn {
        font-size: 20px;
        padding: 10px 40px;
        border: 1px solid #007BFF;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: all .2s linear;
        display: none;
    }
    
    .play_again_btn:hover {
        background-color: #007BFF;
    }
    
    .board {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1px;
        row-gap: 1px;
        position: relative;
        /* top: 50%;
        left: 50%; 
        transform: translate(-50%,-50%); */
        width: 202px;
        height: 202px;
        background-color: #242527;
    }
    
    .grid {
        height: 101px;
        width: 101px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
    }
    
    .row2 {
        position: absolute;
        top: -39%;
        left: 8%;
        width: 1px;
        height: 265px;
        transform: rotate(45deg);
        background-color: #242527;
    }
    
    .row1 {
        position: absolute;
        top: -121%;
        left: 8%;
        width: 1px;
        height: 265px;
        transform: rotate(135deg);
        background-color: #242527;
    }
    
    .row3 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background-color: #242527;
    }
    
    .row4 {
        position: absolute;
        left: 50%;
        width: 1px;
        height: 100%;
        transform: translateX(-50%) rotate(90deg);
        background-color: #242527;
    }
    
    .box {
        position: absolute;
        width: 20px;
        height: 20px;
        /* z-index: 1000; */
        transform: translate(50%,50%);
        /* cursor: pointer; */
        border-radius: 50%;
    }
    
    .box[data-choosable="true"] {
        cursor: pointer;
        background-color: green;
    }
    
    .box[data-choosable="false"] {
        cursor: default;
        background-color: none;
    }
    
    .box:hover {
        /* background-color: rgba(0, 0, 0, .2); */
    }
    
    .chess {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1000;
    }
    
    .chess.not_ready {
        cursor: not-allowed;
    }
    
    .chess:hover {
        filter: brightness(90%);
    }

    .fire {
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 1001;
        animation: fire 1s linear forwards;
    }
}