:root {
    --primary-color: #121212;
    --secondary-color: #1E1E1E;
    --text-primary: #000;
    --text-secondary: #333;
}

*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    height: 7px;
    width: 3px;
}

*::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #272822; /* Matches ace monokai */
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

.disappear {
    animation: disappear .2s linear forwards;
}