<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/challenge_mode.css">
</head>
<body>

    <div class="cover" style="display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, .05); z-index: 1000;"></div>

    <div class="guide"></div>

    <div class="container">
        <div class="container_element bot_display">
            <div class="bot_display-tasks">
                <div class="bot_display-tasks_nav">
                    
                </div>
            </div>
            <div class="bot_display_nav">
                <div class="bot_display_nav-block">
                    <div class="bot_display_nav-block--item task">
                        TASK
                        <div class="loading_nav_task">
                            <div class="loader"></div>
                            <i class="fa-solid fa-circle-check check_icon"></i>
                        </div>
                    </div>
                    <div class="bot_display_nav-block--item result">
                        RESULT
                        <div class="loading_nav_image">
                            <i class="fa-solid fa-circle-check check_icon"></i>
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div class="bot_display_nav-block--item submissions">
                        SUBMISSIONS
                    </div>
                    <div class="animation">
                        <div class="children"></div>
                    </div>
                </div>
            </div>
    
            <div style="display: none;" class="bot_display-item bot_display-task">
                <div class="bot_display-task--title">1. Blank</div>
                <ul class="bot_display-task--class_list">
                    <li class="bot_display-task--class_item medium">easy</li>
                    <li class="bot_display-task--class_item">beginner</li>
                    <li class="bot_display-task--class_item">100</li>
                </ul>

                <div class="bot_display-task--board">
                    <img class="bot_display-task--image" src="../static/img/chessboard.png" alt="">
                </div>
                <!-- <video class="bot_display-video-item bot_display-video--result" controls>
                    <source src="{{ url_for('static', filename='upload_video/demo.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video> -->
                <div class="bot_display-task--rule">
                    Input: grid = [[0,1,-1],[1,0,-1],[1,1,1]]
                    Output: 5
                    Explanation: The player started at (0, 0) and went down, down, right right to reach (2, 2).
                    4 cherries were picked up during this single trip, and the matrix becomes [[0,1,-1],[0,0,-1],[0,0,0]].
                    Then, the player went left, up, up, left to return home, picking up one more cherry.
                    The total number of cherries picked up is 5, and this is the maximum possible.
                </div>

                <div class="bot_display-task--status">
                    <div class="bot_display-task--status_item tallent">Tallent <div class="num">100</div></div>
                    <div class="bot_display-task--status_item good">good <div class="num">21</div></div>
                    <div class="bot_display-task--status_item submissions">submissions <div class="num">213</div></div>
                </div>
            </div>

            <div class="bot_display-item bot_display-result">
                <div class="rate">
                    <div class="type">excellent</div>
                    <div class="moves">
                        <div class="moves_max-move">moves: 20</div>
                        <div class="move moves_excellent-move">
                            <div class="percent_bar"></div> 
                            <div class="count">1</div>
                        </div>
                        <div class="move moves_good-move">
                            <div class="percent_bar"></div> 
                            <div class="count">16</div>
                        </div>
                        <div class="move moves_bad-move">
                            <div class="percent_bar"></div> 
                            <div class="count">3</div>
                        </div>
                    </div>
                </div>
                <div class="display_result">
                    <div class="image_block">
                        <i class="fa-solid fa-angle-left arrow_left"></i>
                        <ul class="img_list">
                            <li class="img_item"><img src="../static/img/chessboard.png" alt=""></li>
                        </ul>
                        <div class="counter">1</div>
                        <i class="fa-solid fa-angle-right arrow_right"></i>
                    </div>
                    <div class="evaluation">
                        <div class="evaluation_pos">
                            <div class="evaluation_selected-pos">Selected pos (0,0)</div>
                            <div class="evaluation_new-pos">New pos (1,2)</div>
                        </div>
                        <div class="evaluation_rate">
                            excellent
                        </div>
                    </div>
                </div>
            </div>

            <div class="bot_display-item bot_display-submissions">

            </div>
            <!-- <div class="utility">
                <div class="utility_nav">
                    <div class="utility_nav-block">
                        <div class="utility_nav-block--item rule">RULE</div>
                        <div class="utility_nav-block--item terminal">TERMINAL</div>
                        <div class="utility_nav-block--item result">RESULT</div>
                        <div class="animation">
                            <div class="children"></div>
                        </div>
                    </div>
                </div>
                <div class="utility_block">
                    <div class="utility_block-element rule">
                    </div>
                    <div class="utility_block-element terminal">>>> </div>
                    <div class="utility_block-element result">
                        <div class="status">Winner</div>
                        <div class="info">
                            <div class="info_move-count">moves: 100</div>
                            <div class="player">you: <hr> <div style="width: 40px; height: 40px; border-radius: 50%; background-color: blue;"></div></div>
                            <div class="enemy">bot: <hr> <div style="width: 40px; height: 40px; border-radius: 50%; background-color: red;"></div></div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="container_element coding_module">
            <div class="coding_module-nav">
                <a href="{{ url_for('menu') }}" class="coding_module-nav--backBtn"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                <div class="coding_module-nav--saveBtn btn" data-saved="false">save</div>
                <div class="coding_module-nav--runBtn loader" style="display: none; animation: none;"><div class="coding_module-nav--loading"></div></div>
                <div class="coding_module-nav--runBtn btn">run</div>
                <div class="coding_module-nav--setting">
                    <label for="check"><i class="fa-solid fa-gear setting_icon"></i></label>
                    <input type="checkbox" name="check" id="check" hidden>
                    <ul class="setting_list">
                        <label for="debug" class="setting_item">
                            Enable debug
                            <input type="checkbox" name="debug" id="debug" checked>
                        </label>
                        <label for="video" class="setting_item">
                            Enable video
                            <input type="checkbox" name="video" id="video" checked>
                        </label>
                    </ul>
                </div>
            </div>
            <div class="a" style="height: 100%; position: relative;">
                <div id="coding_module-coding_block"></div>
                <div class="guide_box--nav" style="z-index: 2000; display: none;">
                    <div class="left">&#11164;</div>
                    <div class="right">&#11166;</div>
                </div>
                <!-- <div class="guide_box">
                    <div class="guide_box--content">hellohellohellohellellohellohellohelloellohellohellohellohellohellohelloello</div>
                    <div class="guide_box--arrow"></div>
                </div> -->
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.3/ace.min.js"></script>
    <script src="../static/script/challenge_mode.js"></script>
</body>
</html>