<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/create_bot.css">
</head>
<body>

    <div class="cover" style="display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, .05); z-index: 1000;"></div>

    <!-- <div class="instruction" style="max-width: 500px; position: fixed; top:50%; left:50%; transform: translate(-50%, -50%); background: #fff; z-index: 9999; color: #121212; padding: 10px 20px; border-radius: 10px; border: 1px solid rgba(255, 255, 255, .8);">
        <p style="font-size: 20px">nếu bạn là người mới thì chúng tôi khuyến kích bạn xem hướng dẫn trước khi bắt đầu</p>
        <div style="display: flex; justify-content: right; margin-top: 20px;">
            <div class="btn reject-btn" style="user-select: none; cursor: pointer; padding: 5px 10px; margin: 0 10px; transition: .05s linear;">bỏ qua</div>
            <div class="btn accept-btn" style="user-select: none; cursor: pointer; padding: 5px 10px; margin: 0 10px; background-color: #121212; color: #fff; transition: .05s linear">xem</div>
        </div>
    </div> -->

    <div class="guide"></div>

    <div class="container">
        <div class="container_element bot_display">
            <div class="bot_display_nav">
                <div class="bot_display_nav-block">
                    <div class="bot_display_nav-block--item video">
                        VIDEO
                        <div class="loading_nav_video">
                            <div class="loader"></div>
                            <i class="fa-solid fa-circle-check check_icon"></i>
                            <i class="fa-solid fa-circle-xmark fail_icon"></i>
                        </div>
                    </div>
                    <div class="bot_display_nav-block--item debug">
                        DEBUG
                        <div class="loading_nav_image">
                            <div class="loader"></div>
                            <i class="fa-solid fa-circle-check check_icon"></i>
                            <i class="fa-solid fa-circle-xmark fail_icon"></i>
                        </div>
                    </div>
                    <div class="bot_display_nav-block--item help">
                        HELP
                    </div>
                    <div class="animation">
                        <div class="children"></div>
                    </div>
                </div>
            </div>
            <div class="bot_display-video--background">
                <video style="display: auto;" class="bot_display-video-item bot_display-video--result" controls>
                    <source src="{{ url_for('static', filename='upload_video/demo.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="loading_video">
                    <div class="loader"></div>
                </div>
                <div style="display: none;" class="bot_display-video-item bot_display-video--debug">
                    <div class="loading_image">
                        <div class="loader"></div>
                    </div>
                    <div class="debug_nav">
                        <i class="fa-solid fa-angle-up arrow_left"></i>
                        <i class="fa-solid fa-angle-down arrow_right"></i>
                    </div>
                    <!-- <i class="fa-solid fa-angle-left arrow_left"></i> -->
                    <div class="debug_img_main">
                        <ul class="debug_img_list">
                            <li class="debug_img_item default"><img src="../static/img/chessboard.png" alt=""></li>
                        </ul>
                        <div class="counter">0</div>
                    </div>
                    <!-- <i class="fa-solid fa-angle-right arrow_right"></i> -->
                    <div class="debug_info">
                        <div class="debug_info-state">
                            <div class="debug_info-selected_pos">(x1,y1)</div>
                            <div class="debug_info-arrow"><i class="fa-solid fa-arrow-down-long"></i></div>
                            <div class="debug_info-new_pos">(x2,y2)</div>
                        </div>
                        <div class="debug_info-move_level normal">đánh giá</div>
                    </div>
                </div>
                <div style="display: none;" class="bot_display-video-item bot_display-video--help">
                    <div class="help_title">Kiến thức cần thiết</div>
                    <ul class="help_list help_type">
                        <li class="help_item help_type"><a href="https://www.w3schools.com/python/python_lists.asp">if else</a></li>
                        <li class="help_item help_type"><a href="https://www.w3schools.com/python/python_lists.asp">dictionary</a></li>
                        <li class="help_item help_type"><a href="https://www.w3schools.com/python/python_lists.asp">function</a></li>
                        <li class="help_item help_type"><a href="https://www.w3schools.com/python/python_lists.asp">object</a></li>
                        <li class="help_item help_type"><a href="https://www.w3schools.com/python/python_ml_getting_started.asp">Loop</a></li>
                        <li class="help_item help_type"><a href="https://www.24h.com.vn/bong-da/nhan-dinh-bong-da-argentina-ecuador-niem-cam-hung-messi-tiep-da-thang-hoa-copa-america-c48a1582788.html">List</a></li>
                    </ul>
                    <div class="help_title">Các bài blog</div>
                    <ul class="help_list">
                        <li class="help_item help_blog"><a href="{{url_for('post', post_id='1719022233537')}}">Kiểm tra nước đi hợp lệ</a></li>
                        <li class="help_item help_blog"><a href="{{url_for('post', post_id='1719228535494')}}">Kiểm tra gánh chẹt</a></li>
                        <li class="help_item help_blog"><a href="{{url_for('post', post_id='1720181857262')}}">Kiểm tra vây</a></li>
                    </ul>
                    <div class="help_title">Mô phỏng thuật toán</div>
                    <ul class="help_list">
                        <li class="help_item help_blog"><a href="{{url_for('visualize', id='SctXzAxW6TtcMSPwPm1N')}}">minimax</a></li>
                    </ul>
                    <ul class="help_list">
                    </ul>
                </div>
            </div>
            <div class="utility">
                <div class="utility_nav">
                    <div class="utility_nav-block">
                        <div class="utility_nav-block--item rule">RULE</div>
                        <div class="utility_nav-block--item terminal">TERMINAL</div>
                        <div class="utility_nav-block--item result">RESULT</div>
                        <div class="animation">
                            <div class="children"></div>
                        </div>
                    </div>
                </div>
                <div class="utility_block">
                    <div class="utility_block-element rule">
                        <div class="input">
                            <div class="type">input</div> 
                            <div class="content">
                                Player.your_pos: vị trí tất cả quân cờ của bản thân (x, y) <br>
                                Player.opp_pos: vị trí tất cả quân cờ của đối thủ (x, y) <br>
                                Player.your_side: màu cờ của bản thân (-1:🔴 / 1:🔵) <br>
                                Player.board: bàn cờ (-1:🔴 / 1:🔵 / 0:∅) <br>
                                <hr>
                                <br>
                                -điều kiện:
                                <hr>
                                <br>
                                0 ≤ x, y ≤ 4 <hr>
                                Player.your_side in (-1, 1) <hr>
                                {j for i in Player.board for j in i} == {0, 1, -1}
                            </div>
                        </div>
                        <div class="output">
                            <div class="type">output</div> 
                            <div class="content">
                                selected_pos: vị trí của quân cờ được chọn
                                new_pos: vị trí sau khi di chuyển của quân cờ đó
                            </div>
                        </div>
                    </div>
                    <div class="utility_block-element terminal">>>> </div>
                    <div class="utility_block-element result">
                        <div class="mode_solo">
                            <!-- <div class="status">Winner</div>
                            <div class="info">
                                <div class="info_move-count">moves: 100</div>
                                <div class="player">you: <hr> <div style="width: 40px; height: 40px; border-radius: 50%; background-color: blue;"></div></div>
                                <div class="enemy">bot: <hr> <div style="width: 40px; height: 40px; border-radius: 50%; background-color: red;"></div></div>
                            </div> -->
                            <div class="win_loose_block">
                                <div class="winer">
                                    <div class="winer_avatar">T</div>
                                    <div class="winer_info">
                                        <div class="winer_title">VICTORY</div>
                                        <div class="winer_info_name">tlv23</div>
                                    </div>
                                    <!-- <div class="side blue"></div> -->
                                </div>
                                <div class="loser">
                                    <div class="loser_avatar"><img src="../static/img/level4.png" alt=""></div>
                                    <div class="loser_info">
                                        <div class="loser_title">DEFEATED</div>
                                        <div class="loser_info_name">level1</div>
                                    </div>
                                    <!-- <div class="side red"></div> -->
                                </div>
                            </div>
                            <div class="info_move-count">move 100</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_element coding_module">
            <div class="coding_module-nav">
                <a href="{{ url_for('menu') }}" class="coding_module-nav--backBtn"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                <div class="debug_mode_selector">
                    <div>Debug turn</div>
                    <select class="selector">
                        <!-- <option value="default" class="option">default</option> -->
                        <option value="2" class="option">2</option>
                        <option value="4" class="option">4</option>
                        <option value="6" class="option">6</option>
                        <option value="8" class="option">8</option>
                        <option value="10" class="option">10</option>
                    </select>
                </div>
                <div class="coding_module-nav--saveBtn active" data-saved="false">save</div>
                <div class="coding_module-nav--runBtn loader" style="display: none; animation: none;"><div class="coding_module-nav--loading"></div></div>
                <div class="coding_module-nav--runBtn btn">run</div>
                <div class="coding_module-nav--setting">
                    <label for="check"><i class="fa-solid fa-gear setting_icon"></i></label>
                    <input type="checkbox" name="check" id="check" hidden>
                    <ul class="setting_list">
                        <label for="debug" class="setting_item">
                            Enable debug
                            <input type="checkbox" name="debug" id="debug" checked>
                        </label>
                        <label for="video" class="setting_item">
                            Enable video
                            <input type="checkbox" name="video" id="video" checked>
                        </label>
                    </ul>
                </div>
            </div>
            <div class="a" style="height: 100%; position: relative; display: flex; flex-direction: column;">
                <div id="coding_module-coding_block"></div>
                <div class="guide_box--nav" style="z-index: 2000; display: none;">
                    <div class="left">&#11164;</div>
                    <div class="right">&#11166;</div>
                </div>
                <!-- <div class="guide_box">
                    <div class="guide_box--content">hellohellohellohellellohellohellohelloellohellohellohellohellohellohelloello</div>
                    <div class="guide_box--arrow"></div>
                </div> -->
                <div class="coding_module-bot_list">
                    <div class="choose_bot_module">
                        <div class="choose_bot_module-title">BOT</div>
                        <div class="bot_list">
                            <div data-level="level1" class="bot_item level1">
                                <img class="" src="../static/img/level1.png" alt="">
                                <div class="bot_item_title level1">
                                    level 1
                                </div>
                                <div class="fight_result">
                                    <div class="fight_result_item fight_result_draw"><i class="fa-solid fa-handshake-simple"></i></div>
                                    <div class="fight_result_item fight_result_loader"><div class="fight_result_loading"></div></div>
                                    <div class="fight_result_item fight_result_win"></div>
                                    <div class="fight_result_item fight_result_lost"><i class="fa-solid fa-skull"></i></div>
                                </div>
                                <div class="bot_item_info">
                                    <div class="introduce">Robot của vị tướng lĩnh này sẽ luôn luôn nhả quân cho bạn.</div>
                                    <div class="hint"><p style="color: red;"><i class="fa-solid fa-angles-down"></i>lời khuyên<i class="fa-solid fa-angles-down"></i></p> Có vẻ robot của bạn cần học cách gánh/ chẹt</div>
                                </div>
                            </div>
                            <div data-level="level2" class="bot_item level2">
                                <img class="" src="../static/img/level2.png" alt="">
                                <div class="bot_item_title level2">
                                    level 2
                                </div>
                                <div class="fight_result">
                                    <div class="fight_result_item fight_result_draw"><i class="fa-solid fa-handshake-simple"></i></div>
                                    <div class="fight_result_item fight_result_loader"><div class="fight_result_loading"></div></div>
                                    <div class="fight_result_item fight_result_win"></div>
                                    <div class="fight_result_item fight_result_lost"><i class="fa-solid fa-skull"></i></div>
                                </div>
                                <div class="bot_item_info">
                                    <div class="introduce">Robot của vị tướng lĩnh này sẽ luôn tiến quân vào những vị trí chiến lược.</div>
                                    <div class="hint"><p style="color: red;"><i class="fa-solid fa-angles-down"></i>lời khuyên<i class="fa-solid fa-angles-down"></i></p>Robot của bạn cần một chiến thuật vây bắt hợp lý hơn.</div>
                                </div>
                            </div>
                            <div data-level="level3" class="bot_item level3">
                                <img class="" src="../static/img/level3.png" alt="">
                                <div class="bot_item_title level3">
                                    level 3
                                </div>
                                <div class="fight_result">
                                    <div class="fight_result_item fight_result_draw"><i class="fa-solid fa-handshake-simple"></i></div>
                                    <div class="fight_result_item fight_result_loader"><div class="fight_result_loading"></div></div>
                                    <div class="fight_result_item fight_result_win"></div>
                                    <div class="fight_result_item fight_result_lost"><i class="fa-solid fa-skull"></i></div>
                                </div>
                                <div class="bot_item_info">
                                    <div class="introduce">Robot của vị tướng lĩnh này luôn dồn quân tại đáy và sẽ tiêu diệt những quân cờ lại gần.</div>
                                    <div class="hint"><p style="color: red;"><i class="fa-solid fa-angles-down"></i>lời khuyên<i class="fa-solid fa-angles-down"></i></p>Đừng quên việc phòng thủ khi vây quân.</div>
                                </div>
                            </div>
                            <div data-level="level3" class="bot_item level3">
                                <img class="" src="../static/img/level4.png" alt="">
                                <div class="bot_item_title level3">
                                    level 4
                                </div>
                                <div class="fight_result">
                                    <div class="fight_result_item fight_result_draw"><i class="fa-solid fa-handshake-simple"></i></div>
                                    <div class="fight_result_item fight_result_loader"><div class="fight_result_loading"></div></div>
                                    <div class="fight_result_item fight_result_win"></div>
                                    <div class="fight_result_item fight_result_lost"><i class="fa-solid fa-skull"></i></div>
                                </div>
                                <div class="bot_item_info">
                                    <div class="introduce">Robot của người lãnh đạo này sẽ ăn quân ngay khi có cơ hội.</div>
                                    <div class="hint"><p style="color: red;"><i class="fa-solid fa-angles-down"></i>lời khuyên<i class="fa-solid fa-angles-down"></i></p>Robot của bạn cần một thế cờ có tính chiến thuật hơn.</div>
                                </div>
                            </div>
                            <div data-level="Master" class="bot_item Master">
                                <img class="" src="../static/img/Master.png" alt="">
                                <div class="bot_item_title Master">
                                    MASTER
                                </div>
                                <div class="fight_result">
                                    <div class="fight_result_item fight_result_draw"><i class="fa-solid fa-handshake-simple"></i></div>
                                    <div class="fight_result_item fight_result_loader"><div class="fight_result_loading"></div></div>
                                    <div class="fight_result_item fight_result_win"></div>
                                    <div class="fight_result_item fight_result_lost"><i class="fa-solid fa-skull"></i></div>
                                </div>
                                <div class="bot_item_info" style="right: -60%;">
                                    <div class="introduce">Robot của người này là bất bại.</div>
                                    <div class="hint"><p style="color: red;"><i class="fa-solid fa-angles-down"></i>lời khuyên<i class="fa-solid fa-angles-down"></i></p>Cố lên 😏.</div>
                                </div>
                            </div>
                            <div data-level="{{user.username}}" class="bot_item {{user.username}}">
                                <img class="" src="../static/img/your_bot.png" alt="">
                                <div class="bot_item_title Master">
                                    {{user.username}}
                                </div>
                                <div class="fight_result">
                                    <div class="fight_result_item fight_result_draw"><i class="fa-solid fa-handshake-simple"></i></div>
                                    <div class="fight_result_item fight_result_loader"><div class="fight_result_loading"></div></div>
                                    <div class="fight_result_item fight_result_win"></div>
                                    <div class="fight_result_item fight_result_lost"><i class="fa-solid fa-skull"></i></div>
                                </div>
                                <div class="bot_item_info" style="right: -60%;">
                                    <div class="introduce">Robot của người này là bất bại.</div>
                                    <div class="hint"><p style="color: red;"><i class="fa-solid fa-angles-down"></i>lời khuyên<i class="fa-solid fa-angles-down"></i></p>Cố lên 😏.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="choose_mode_module">
                        <div class="choose_mode_module-title">MODE</div>
                        <div class="mode_list">
                            <div data-mode="solo" class="mode_item">Solo</div>
                            <div data-mode="tournament" class="mode_item">Tournament</div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="username" hidden>{{user.username}}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.34.2/ace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.34.2/ext-searchbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.34.2/ext-language_tools.min.js"></script>
    <script src="../static/script/create_bot.js"></script>
</body>
</html>