<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/play_chess.css">
</head>
<body>
    <div class="game_state">
        <div class="game_turn game_turn-bot unavalable">Bot's turn</div>
        <div class="game_turn game_turn-player">Your turn</div>
    </div>
    <div class="board">
    </div>
    <div class="game_result">
        <div class="game_status">Game on...</div>
        <a href="{{ url_for('menu') }}" class="menu_btn">Menu</a>
        <div class="play_again_btn">Play again</div>
    </div>

    <audio class="capture_sound" src="{{url_for('static', filename='capture.mp3')}}"></audio>
    <audio class="move_sound" src="{{url_for('static', filename='move-self.mp3')}}"></audio>

    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script> -->
    <script src="../static/script/play_chess.js"></script>
</body>
</html>