<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/human_bot.css">
    <link rel="stylesheet" href="../static/css/rate_model.css">
</head>
<body>
    <div class="game_state pc">
        <div class="game_turn game_turn-bot_">
            <div class="bot_avatar_pc"><img src="../static/img/Master.png" alt=""></div>
            <div class="game_turn_info bot_info_pc unavalable">
                <div class="bot_info_name_pc">Master</div>
            </div>
        </div>
        <div class="game_turn game_turn-player">
            <div class="player_avatar">T</div>
            <div class="game_turn_info player_info_pc">
                <div class="player_info_name">tlv23</div>
            </div>
        </div>
    </div>
    <div class="game_turn game_turn-bot mobile_active">
        <div class="bot_avatar_mobile"><img src="../static/img/Master.png" alt=""></div>
        <div class="game_turn_info bot_info_mobile unavalable">
            <!-- <div class="bot_title">DEFEATED</div> -->
            <div class="bot_info_name_mobile">Master</div>
        </div>
    </div>
    <div class="board"></div>
    <div class="game_turn game_turn-player mobile_active">
        <div class="player_avatar">T</div>
        <div class="game_turn_info player_info_mobile">
            <!-- <div class="player_title">VICTORY</div> -->
            <div class="player_info_name">tlv23</div>
        </div>
    </div>
    <canvas></canvas>

    <div class="rate">
        <div class="game_display">
            <i class="fa-solid fa-angle-left arrow_left"></i>
                <div class="img_main">
                    <ul class="img_list">
                        <li class="img_item default"><img src="../static/img/chessboard1.png" alt=""></li>
                    </ul>
                    <div class="counter">0</div>
                </div>
            <i class="fa-solid fa-angle-right arrow_right"></i>
            <div class="loader">
                <div class="loading"></div>
            </div>
        </div>
        <div class="game_rate">
            <div class="rate_list">
                <ul class="overview">
                    <div class="header">
                        <div class="player you"><div class="content">Bạn</div></div>
                        <div class="move_count">MOVES: 20</div>
                        <div class="player enemy"><div class="content">Đối thủ</div></div>
                    </div>
                </ul>
                <div class="spacing"></div>
                <ul class="detail">
                </ul>
            </div>
            <div class="ske_loading">
                <ul class="ske_loading-overview">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="spacing"></div>
                <ul class="ske_loading-detail">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>

    <input type="checkbox" name="" id="open_game_result" hidden style="position: fixed;">

    <div class="game_result">
        <label for="open_game_result" class="game_result_nav"><i class="fa-solid fa-angles-up arrow_up"></i><i class="fa-solid fa-angles-down arrow_down"></i></label>
        <div class="game_status">Game on...</div>
        <a href="{{ url_for('menu') }}" class="menu_btn">Menu</a>
        <div style="display: none;" class="rate_btn">Xem đánh giá</div>
        <div class="play_again_btn">Play again</div>
    </div>

    <div class="overflow">
        <div class="choose_bot_model">
            <div class="choose_bot_model-title">Chọn bot</div>
            <div class="bot_list">
                <div class="bot_list_block">
                    <div data-level="level1" class="bot_item level1">
                        <img class="" src="../static/img/level1.png" alt="">
                        <div class="bot_item_title level1">
                            level 1
                        </div>
                    </div>
                    <div data-level="level2" class="bot_item level2">
                        <img class="" src="../static/img/level2.png" alt="">
                        <div class="bot_item_title level2">
                            level 2
                        </div>
                    </div>
                    <div data-level="level3" class="bot_item level3">
                        <img class="" src="../static/img/level3.png" alt="">
                        <div class="bot_item_title level3">
                            level 3
                        </div>
                    </div>
                </div>
                <div class="bot_list_block">
                    <div data-level="level4" class="bot_item level4">
                        <img class="" src="../static/img/level4.png" alt="">
                        <div class="bot_item_title level4">
                            level 4
                        </div>
                    </div>
                    <div data-level="Master" class="bot_item Master">
                        <img class="" src="../static/img/Master.png" alt="">
                        <div class="bot_item_title Master">
                            MASTER
                        </div>
                    </div>
                </div>
            </div>
            <div class="fight_btn">Thách đấu</div>
        </div>
    </div>

    <!-- <img class="fire" style="display: none;" src="{{url_for('static', filename='img/fire.webp')}}" alt=""> -->

    <div class="username" hidden>{{user.username}}</div>
    
    <audio class="capture_sound" src="{{url_for('static', filename='capture.mp3')}}"></audio>
    <audio class="move_sound" src="{{url_for('static', filename='move-self.mp3')}}"></audio>
    <audio class="fire_sound" src="{{url_for('static', filename='fireSound.mp3')}}"></audio>
    
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script> -->
    <script src="../static/script/rate_model.js"></script>
    <script src="../static/script/human_bot.js"></script>
</body>
</html>