<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/human_bot.css">
</head>
<body>
    <div class="game_state">
        <div class="game_turn game_turn-bot unavalable">Bot's turn</div>
        <div class="game_turn game_turn-player">Your turn</div>
    </div>

    <div class="board"></div>

    <canvas></canvas>

    <div class="rate">
        <div class="game_display">
            <i class="fa-solid fa-angle-left arrow_left hide"></i>
                <div class="img_main">
                    <ul class="img_list">
                        <li class="img_item default"><img src="../static/img/chessboard1.png" alt=""></li>
                    </ul>
                    <div class="counter">0</div>
                </div>
            <i class="fa-solid fa-angle-right arrow_right"></i>
            <div class="loader">
                <div class="loading"></div>
            </div>
        </div>
        <div class="game_rate">
            <div class="rate_list">
                <ul class="overview">
                    <div class="move_count">MOVES: 20</div>
                </ul>
                <div class="spacing"></div>
                <ul class="detail">
                </ul>
            </div>
            <div class="ske_loading">
                <ul class="ske_loading-overview">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="spacing"></div>
                <ul class="ske_loading-detail">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="game_result">
        <div class="game_status">Game on...</div>
        <a href="{{ url_for('menu') }}" class="menu_btn">Menu</a>
        <div class="rate_btn">Xem đánh giá</div>
        <div class="play_again_btn">Play again</div>
    </div>

    <!-- <img class="fire" style="display: none;" src="{{url_for('static', filename='img/fire.webp')}}" alt=""> -->

    <div class="username" hidden>{{user.username}}</div>
    
    <audio class="capture_sound" src="{{url_for('static', filename='capture.mp3')}}"></audio>
    <audio class="move_sound" src="{{url_for('static', filename='move-self.mp3')}}"></audio>
    <audio class="fire_sound" src="{{url_for('static', filename='fireSound.mp3')}}"></audio>
    
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script> -->
    <script src="../static/script/rate_model.js"></script>
    <script src="../static/script/human_bot.js"></script>
</body>
</html>