<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/human_human.css">
    <link rel="stylesheet" href="../static/css/rate_model.css">
</head>
<body>
    <div class="game_state">
        <div class="game_turn game_turn-bot unavalable">Lượt đối thủ</div>
        <div class="game_turn game_turn-player">Lượt của bạn</div>
    </div>
    <div class="board">
    </div>
    <canvas></canvas>
    <div style="display: none;" class="warning">
        <h1>Bạn sẽ bị sử thua nếu thoát ra. Bạn có chắc muốn thoát ra?</h1>
        <div class="btn">
            <div class="accept_btn">Thoát</div>
            <div class="reject_btn">Quay lại</div>
        </div>
    </div>
    <div style="display: none;" class="sign">
        <div class="sign_title">Đối thủ của bạn đã rời trận đấu. Bạn đã dành được chiến thắng</div>
        <div class="ok_btn">OK</div>
    </div>
    <div class="overflow">
        <div class="room_info">
            <div class="room_info-title">Đợi đối thủ</div>
            <div class="room_title-player room_title-you">
                <div class="avatar"></div>
            </div>
            <img class="due_word_img" src="{{url_for('static', filename='/img/due_sword.png')}}" alt="">
            <div style="display: none;" class="room_title-player room_title-opp">
                <div class="avatar"></div>
            </div>
            <div class="room_title-loading">
                <div class="loading"></div>
            </div>
        </div>
    </div>

    <div class="rate">
        <div class="game_display">
            <i class="fa-solid fa-angle-left arrow_left hide"></i>
                <div class="img_main">
                    <ul class="img_list">
                        <li class="img_item default"><img src="../static/img/chessboard1.png" alt=""></li>
                    </ul>
                    <div class="counter">0</div>
                </div>
            <i class="fa-solid fa-angle-right arrow_right"></i>
            <div class="loader">
                <div class="loading"></div>
            </div>
        </div>
        <div class="game_rate">
            <div class="rate_list">
                <ul class="overview">
                    <div class="header">
                        <div class="player you"><div class="content">Bạn</div></div>
                        <div class="move_count">MOVES: 20</div>
                        <div class="player enemy"><div class="content">Đối thủ</div></div>
                    </div>
                </ul>
                <div class="spacing"></div>
                <ul class="detail">
                </ul>
            </div>
            <div class="ske_loading">
                <ul class="ske_loading-overview">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="spacing"></div>
                <ul class="ske_loading-detail">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="game_result">
        <div class="game_status">Game on...</div>
        <div class="rate_btn">Xem đánh giá</div>
        <!-- <div class="menu_btn">room_list</div> -->
        <a href="{{ url_for('room_manager') }}" class="menu_btn">Room list</a>
        <div class="play_again_btn">Play again</div>
    </div>

    <!-- <div hidden class="name">{{user.username}}</div>
    <div hidden class="room_id">{{room_id}}</div> -->
    <!-- <img class="fire" style="display: none;" src="{{url_for('static', filename='img/fire.webp')}}" alt=""> -->
    
    <audio class="capture_sound" src="{{url_for('static', filename='capture.mp3')}}"></audio>
    <audio class="move_sound" src="{{url_for('static', filename='move-self.mp3')}}"></audio>
    <audio class="fire_sound" src="{{url_for('static', filename='fireSound.mp3')}}"></audio>
    
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script> -->
    <script src="../static/script/rate_model.js"></script>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    <script type="module" src="../static/script/human_human.js"></script>
</body>
</html>