{% extends 'base.html' %}
{% block title %}
    Cờ gánh
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/animation.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="../static/css/menu.css">
<body class="text-center">
  <div class="notification" style="display:none;">
    <div class="notification_header"><i class="fa-solid fa-face-frown"></i></div>
    <div class="notification_content">oops, có lẽ bạn chưa có bot hoặc bot của bạn đang bị lỗi. hãy kiểm tra lại bot của bạn nhé</div>
    <div class="notification_directional">
      <div class="notification_directional--back">quay lại</div>
      <div class="notification_directional--create_bot"><a style="color: #fff; text-decoration: none;" href="{{ url_for('create_bot') }}">tạo bot</a></div>
    </div>
  </div>
  <br>

  <div class="content">
    <div class="main">
      <img src="{{url_for('static', filename = '/img/chessboard1.png')}}" alt="" class="main_img">
      <div class="main_nav_module">
        <div class="code_require">
          <h2>Lập trình</h2>
          <a class="btn create_bot">Tạo bot</a>
          <a class="btn bot_bot">Đấu bot</a>
          <a href="{{ url_for('task_list') }}" class="btn challenge_mode">luyện tập</a>
        </div>
        <div class="non_code">
          <h2>Chơi game</h2>
          <a class="btn" href="{{ url_for('human_bot') }}">Đấu với bot</a>
          <!-- <a class="btn" href="{{ url_for('room_manager') }}">Đấu với người</a> -->
        </div>
      </div>
    </div>
    <div class="detail_module">
      
    </div>
    <div class="sign">
      <div class="sign_content">
        Chức năng này phù hợp với dạng thiết bị: máy tính, laptop,...
        Chúng tôi khuyên bạn nên sử dụng thiết bị như trên để có trải nghiệm tốt nhất
      </div>
      <div class="sign_btn">OK</div>
    </div>
    <!-- <a class="btn" href="{{ url_for('challenge_mode', id="") }}">Thử thách</a> -->
  </div>
</body>
<script>
  const fightBotDir = document.querySelector(".bot_bot")
  const notification = document.querySelector(".notification")
  const backBtn = document.querySelector(".notification_directional--back")
  const sign = document.querySelector(".sign")
  const sign_btn = document.querySelector(".sign_btn")
  const create_bot_btn = document.querySelector(".create_bot")
  const fightBotBtn = document.querySelector(".bot_bot")
  let fightable = '{{current_user.fightable}}'

  const isMobile = ( window.innerWidth <= 500)

  window.addEventListener("pageshow", function ( event ) {
    var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
    if ( historyTraversal ) {
      window.location.reload();
    }
});
  fightBotBtn.onclick = () => {
    if(isMobile) {
      sign.style.display = "flex"
    } else if(fightable === "False") {
      notification.style.display = "block"
    }  else {
      window.location.href = "{{ url_for('bot_bot') }}"
    }
  }
  create_bot_btn.onclick = () => {
    if(isMobile) {
      sign.style.display = "flex"
    } else {
      window.location.href = "{{ url_for('create_bot') }}"
    }
  }
  sign_btn.onclick = () => sign.style.display = "none"
  backBtn.onclick = () => notification.style.display = "none"
</script>
{% endblock %}