<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/room_manager.css">
</head>
<body>
    
    <div class="room_manager">
        <div class="title">Rooms</div>
        <ul class="room_list">
        </ul>
        <div class="btn">
            <div class="create_room_btn">Tạo phòng</div>
            <div class="fight_btn">Thách đấu</div>
        </div>
    </div>

    <div class="user" hidden>{{user.username}}</div>

    <script src="../static/script/room_manager.js"></script>
</body>
</html>