<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" -->
    <link rel="stylesheet" href="../static/css/simulation.css">
</head>
<body>
    <nav>
        <div class="left_block">
            <div class="logo">Co ganh</div>
            <a href="{{ url_for('menu') }}" class="back_btn">quay lại</a>
        </div>

        <div class="right_block">
            <!-- <a href="{{ url_for('text_editor') }}" class="create_post">Tạo task</a> -->
            <div class="user_avatar">{{user.username[0].upper()}}</div>
            <!-- <div class="login_btn">Đăng nhập</div> -->
        </div>
    </nav>
    <img style="position: fixed;" class="board_img" src="../static/img/chessboard_simulation.png" alt="" hidden>
    <img style="position: fixed;" class="fire_img" src="../static/img/fire.webp" alt="" hidden>
    <audio class="fire_sound" src="../static/fireSound.mp3"></audio>

    <!-- <div class="warpper"> -->
        <!-- <input type="checkbox" name="" id="checkbox" style="position: fixed;" hidden> -->
    <label for="checkbox" class="r_btn O_C_btn">
        <i style="font-size: 34px;" class="fa-solid fa-gear"></i>
        <div class="setting_bar">
            <div class="setting_block">
                <div style="display: none;" class="setting_item sboard">
                    <div class="board_title">board</div>
                    <pre class="board" contenteditable="">
[-1,-1,-1,-1,-1]
[-1, 0, 0, 0,-1]
[ 1, 0, 0, 0,-1]
[ 1, 0, 0, 0, 1]
[ 1, 1, 1, 1, 1]</pre>
                    <div class="random_board_btn">
                        <i class="fa-solid fa-dice"></i>
                    </div>
                </div>

                <div style="display: none;" class="setting_item choose_chess" style="display: none;">
                    <div class="choose_your_pos_title">Chọn quân</div>
                    <div class="your_pos_list">
                        <div class="your_pos_item selected" data-x="0" data-y="2">(0,2)</div>
                        <div class="your_pos_item" data-x="0" data-y="3">(0,3)</div>
                        <div class="your_pos_item" data-x="0" data-y="4">(0,4)</div>
                        <div class="your_pos_item" data-x="1" data-y="4">(1,4)</div>
                        <div class="your_pos_item" data-x="2" data-y="4">(2,4)</div>
                        <div class="your_pos_item" data-x="3" data-y="4">(3,4)</div>
                        <div class="your_pos_item" data-x="4" data-y="4">(4,4)</div>
                        <div class="your_pos_item" data-x="4" data-y="3">(4,3)</div>
                    </div>
                    <div class="random_your_pos_btn">
                        <i class="fa-solid fa-dice"></i>
                    </div>
                </div>

                <div style="display: none;" class="setting_item choose_chess_move" style="display: none;">
                    <div class="item_title">Chọn quân</div>
                    <div class="your_chess_list">
                        <div class="your_chess_item selected" data-x="0" data-y="2">(0,2)</div>
                        <div class="your_chess_item" data-x="0" data-y="3">(0,3)</div>
                        <div class="your_chess_item" data-x="0" data-y="4">(0,4)</div>
                        <div class="your_chess_item" data-x="1" data-y="4">(1,4)</div>
                        <div class="your_chess_item" data-x="2" data-y="4">(2,4)</div>
                        <div class="your_chess_item" data-x="3" data-y="4">(3,4)</div>
                        <div class="your_chess_item" data-x="4" data-y="4">(4,4)</div>
                        <div class="your_chess_item" data-x="4" data-y="3">(4,3)</div>
                    </div>
                    <div class="item_title">Chọn vị trí di chuyển</div>
                    <div class="your_move_list">
                        <div class="your_move_item" data-x="1" data-y="1">(1,1)</div>
                        <div class="your_move_item" data-x="1" data-y="2">(1,2)</div>
                        <div class="your_move_item" data-x="1" data-y="3">(1,3)</div>
                    </div>
                </div>

                <div style="display: none;" class="setting_item vay_check">
                    <div class="item_title">Quân được kiểm tra vây</div>
                    <select class="side_select" name="" id="">
                        <option value="your_pos">Quân xanh</option>
                        <option value="opp_pos">Quân đỏ</option>
                    </select>
                </div>

                <div style="display: none;" class="setting_item node">
                    <div class="item_title">Node</div>
                    <div class="node_setting">
                        <input type="text" class="node_name" placeholder="Name">
                        <input type="number" class="node_value" placeholder="Value">
                    </div>
                </div>
                <div style="display: none;" class="setting_item minimax_turn">
                    <div class="item_title">Thứ tự minimax</div>
                    <ul class="minimax_list">
                    </ul>
                </div>
                <div class="run_btn">Khởi tạo</div>
            </div>
        </div>
    </label>

    <!-- <input type="checkbox" name="" id="open_code_cb" style="position: fixed;" hidden> -->
    <label for="open_code_cb" class="r_btn open_code_btn">
        <i class="fa-solid fa-code"></i>
        <div class="action_block">
            <div class="code_list">
<!-- {{simulation.codes | safe}} -->
<pre><code class="language-python">{{simulation.codes | safe}}
</code></pre>
<!-- def ganh_chet(move, opp_pos):
    quan_co_bi_an = []
    board = game_state["board"]
    vi_tri_moi_co_di_duoc_8_huong_khong = (move[0]+move[1])%2==0

    for pos in opp_pos:
        khoang_cach = pos - move #(x,y)
        if -1<=khoang_cach<=1 and (0 in khoang_cach or vi_tri_moi_co_di_duoc_8_huong_khong):
            if ((quan_doi_dien_quan_do in board and board[quan_doi_dien_quan_do] == -1) or
                (quan_doi_dien_quan_xanh in board and board[quan_doi_dien_quan_xanh] == 1)):
                quan_co_bi_an.append(pos)

    return quan_co_bi_an -->
<!-- def vay(quan_bi_kiem_tra):
    board = game_state["board"]
    for pos in quan_bi_kiem_tra:
        if quan_co_di_duoc_8_huong == True:
                huong_di = ((-1,-1), (0,-1), (1,-1), (-1,0), (1,0), (-1,1), (0,1), (1,1))
        else:
            huong_di = ((0,-1), (-1,0), (0,1), (1,0))
        for move in huong_di:
            nuoc_di = pos + move #(x,y)
            if nuoc_di in board and board[nuoc_di]==0:
                return []

    valid_remove = quan_bi_kiem_tra.copy()
    return valid_remove -->
<!-- def minimax(node, depth=0, isMaximizingPlayer=True):
    if depth == Stopdepth:
        return node.value

    if isMaximizingPlayer:
        bestValue = float("-inf")
        for child in node.children:
            value = minimax(child, depth + 1, false)
            bestValue = max(bestValue, value)
        node.value = bestValue
        return bestValue

    else:
        bestValue = float("inf")
        for child in node.children:
            value = minimax(child, depth + 1, true)
            bestValue = min(bestValue, value)
        node.value = bestValue
        return bestValue -->
                <div class="row_list">
                    {% for i in range(simulation.row) %}
                        <div class="code_row"></div>
                    {% endfor %}
                </div>
            </div>
            <!-- <div class="return_value">
                <div class="return_value_title">valid move</div>
                <div class="return_value_ouput">[[1,2],[3,2],[2,4]]</div>
            </div> -->
        </div>
        <div class="show_data_change">
            value
        </div>
    </label>

    <div class="play_animation_controller">
        <div class="btn_controller">
            <div class="controller_btn pre_action"><i class="fa-solid fa-backward-step"></i></div>
            <input type="checkbox" name="" id="play_pause_btn" style="position: fixed;" hidden>
            <label for="play_pause_btn" class="play_pause_btn">
                <div class="controller_btn play_btn"><i class="fa-solid fa-play"></i></div>
                <div class="controller_btn pause_btn"><i class="fa-solid fa-pause"></i></div>
            </label>
            <div class="controller_btn next_action"><i class="fa-solid fa-forward-step"></i></div>
        </div>
        <input type="range" class="duration_bar" name="" id="">
        <select class="visualize_speed">
            <option value="0.25">0.25x</option>
            <option value="0.5">0.5x</option>
            <option value="0.75">0.75x</option>
            <option selected value="1">1x</option>
            <option value="2">2x</option>
            <option value="4">4x</option>
            <option value="10">10x</option>
        </select>
    </div>
    <!-- </div> -->

    <div id="content">
        <div class="container">
            {% if simulation.type == "board" %}
                <div class="show_simulation">
                    <div class="display_block">
                        <canvas width="400" height="400"></canvas>
                        <div class="grid_layer">
                            <div class="grid_item">
                                <div class="show_info">
                                    (0,0)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (0,1)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (0,2)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (0,3)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (0,4)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (1,0)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (1,1)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (1,2)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (1,3)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (1,4)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (2,0)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (2,1)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (2,2)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (2,3)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (2,4)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (3,0)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (3,1)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (3,2)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (3,3)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (3,4)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (4,0)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (4,1)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (4,2)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (4,3)
                                </div>
                            </div>
                            <div class="grid_item">
                                <div class="show_info">
                                    (4,4)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif simulation.type == "tree" %}
                <svg width="960" height="600"></svg>
            {% endif %}
        </div>
    </div>

    <div style="position: fixed;" class="code" hidden>{{simulation.codes | safe}}</div>
    <div style="position: fixed;" class="action" hidden>{{simulation.action}}</div>
    <div style="position: fixed;" class="simulation_type" hidden>{{simulation.type}}</div>
    <div style="position: fixed;" class="simulation_name" hidden>{{simulation.name}}</div>
    <!-- <div style="position: fixed;" class="simulation_name" hidden>ganh_chet</div> -->
    <!-- {{simulation.name}} -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script type="module" src="../static/script/board_simulation_model.js"></script>
    <script type="module" src="../static/script/tree_simulation_model.js"></script>
    <script type="module" src="../static/script/simulation.js"></script>
    <!-- <script>hljs.highlightAll()</script> -->
    <script>
        // Biến để lưu trữ trạng thái kéo

        // Hàm minimax với hoạt ản
    </script>
</body>
</html>